/*Barra de navegacion*/
ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0fd371;
    }
li 
    {
        float: left;
    }
li a 
    {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
li a:hover 
    {
        background-color: #111111;
    }

/*fondo*/
body
    {
        text-align :center;
        background: #141414 ;
        background-size :cover;
        background-position: 50%;
        height: 10vh;
    }

/*copy*/
#copy
    {
        font-size: 10px;
    }

/*imgenes*/
.image-container
    {
        display: flex;
    }
.image-container img
    {
        width: 100%;
    }

/*presentacion*/
p
    {
        color: white;
    }
#presentacion
    {
        color: #0fd371;
    } 

/*titulo*/   
#uwu
    {
        color: #0fd371;
        font-style: italic;
        text-align: left;;
    }


