#infos
    {
        font-style: italic;
        color: azure;
        text-align: left;
    }

#imagen
    {
        image-rendering: auto;
        border-image: repeat;
    }
/*infografias*/
.contenedor-imagen 
    {
        border: 2px solid rgb(16, 221, 136);
        display: inline-block;
        padding: 5px;
        float: left;
    }

.contenedor-imagen img 
    {
        display: block;
        max-width: 100%;
        height: auto;
    }

/*boton "volver"*/
.boton-volver 
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }

.boton-volver a 
    {
        display: inline-block;
        padding: 10px;
        background-color: #048367;
        color: white;
        text-decoration: none;
    }    

    /*Neutransmisores*/
    .imagenes-adjuntas {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .imagenes-adjuntas li {
        display: inline-block;
        margin-right: 10px;
    }
    
    .imagenes-adjuntas li:last-child {
        margin-right: 0;
    }
    
    .imagenes-adjuntas img {
        display: block;
        width: 100px;
        height: 100px;
    }

    