body
    {
        text-align :center;
        background: #141414 ;
        background-size :cover;
        background-position: 50%;
        height: 10vh;
    }
/*titulo*/
#Podcast
    {
        color: #0fd371;
        font-style: italic;
        text-align: center;
    }
/*titulo*/
    #bienvenida
    {
        color: white;
        font-style: italic;
        text-align: center;
    }
/*boton "volver"*/
.boton-volver 
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }

.boton-volver a 
    {
        display: inline-block;
        padding: 10px;
        background-color: #048367;
        color: white;
        text-decoration: none;
    } 
/*episodios*/
#episodios
{
    color: white;
    font-style: italic;
    text-align: center;
} 
/*informacion adicional*/
